<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Assets/Frontend/images/favicon.ico" type="image/x-icon">
    <link href="~/Assets/Frontend/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>BKP Nepal | Life Changing Platform </title>
</head>

<body class="bg-gray-200 font-natosans antialiased text-gray-600">
    <div class="fixed z-10 w-full bg-white px-6 shadow-md">
        <header class="h-16 max-w-5xl mx-auto flex items-center justify-between flex-wrap">
            <a class="w-[140px]" href="/">
                <img src="~/Assets/Frontend/images/bkp-nepal-logo.svg" alt="" srcset="">
            </a>
            <nav class="hidden lg:block ">
                <ul class="flex items-center text-sm space-x-0 text-gray-800 font-semibold">
                    <li><a class="nav-links" href="/">Home</a></li>
                    <li><a class="nav-links" href="~/action-plan">Action Plan</a></li>
                    <li><a class="nav-links" href="~/upcoming-project">Upcoming Projects</a></li>
                    <li><a class="nav-links" href="~/about-us">About us</a></li>
                    <li><a class="nav-links" href="~/contact-us">Contact us</a></li>
                    <!-- <li><a class="btn bg-brand font-semibold ml-4" href="register.html">Register</a></li> -->
                </ul>
            </nav>
            <a class="btn hidden lg:block bg-brand font-semibold ml-4" href="register.html">Register</a>
            <button class="menu hover:bg-black-50 rounded-full p-2 lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-black" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                          clip-rule="evenodd" />
                </svg>
            </button>
        </header>
        <!-- mobile off canvas side nav -->
        <div class="mobile-side-nav fixed z-20 w-full h-screen top-0 left-0 bg-white transition-transform delay-100 -translate-x-full">
            <div class="h-16 p-8 bg-gray-100 flex justify-between items-center">
                <svg width="140" height="30" viewBox="0 0 197 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M105.12 0.845541C105.325 0.834492 105.53 0.866875 105.722 0.940577C105.914 1.01428 106.089 1.12764 106.234 1.27326C106.373 1.41869 106.481 1.59037 106.553 1.77825C106.625 1.96612 106.658 2.16643 106.651 2.36742V27.9709C106.663 28.1977 106.627 28.4244 106.546 28.6367C106.465 28.849 106.342 29.0425 106.183 29.2049C106.025 29.3673 105.834 29.4953 105.624 29.5808C105.413 29.6662 105.188 29.7074 104.96 29.7016C104.705 29.7035 104.452 29.6562 104.214 29.5624C103.991 29.4811 103.793 29.3441 103.638 29.1645L85.9917 5.83891L86.8173 5.34156V28.2195C86.8243 28.4214 86.79 28.6227 86.7164 28.8108C86.6429 28.999 86.5316 29.1701 86.3895 29.3137C86.2396 29.4584 86.0616 29.5709 85.8667 29.6445C85.6717 29.718 85.4638 29.751 85.2556 29.7414C85.0566 29.7493 84.8581 29.7153 84.673 29.6417C84.488 29.568 84.3205 29.4562 84.1813 29.3137C84.0442 29.1675 83.9375 28.9954 83.8675 28.8076C83.7975 28.6197 83.7655 28.4199 83.7735 28.2195V2.49673C83.7575 2.27105 83.7911 2.0446 83.8718 1.83325C83.9526 1.62191 84.0786 1.43078 84.241 1.27326C84.5442 0.97768 84.9515 0.813312 85.375 0.815699C85.6373 0.818042 85.8969 0.868619 86.1409 0.964904C86.3772 1.0463 86.5847 1.19496 86.7377 1.39262L104.135 24.3999L103.598 25.0564V2.37737C103.591 2.17547 103.625 1.97426 103.699 1.7861C103.772 1.59794 103.883 1.42681 104.025 1.28321C104.169 1.14072 104.34 1.02856 104.528 0.953382C104.716 0.878202 104.917 0.841529 105.12 0.845541Z"
                          fill="#171717" />
                    <path d="M112.918 0.845475H127.59C128.032 0.839071 128.459 1.00291 128.783 1.30303C128.945 1.44805 129.073 1.62627 129.159 1.82545C129.244 2.02463 129.286 2.24005 129.281 2.45688C129.287 2.67096 129.246 2.8838 129.16 3.07994C129.074 3.27609 128.945 3.45061 128.783 3.59083C128.454 3.8784 128.027 4.03111 127.59 4.01855H114.311L114.689 3.32227V13.7467L114.271 13.2991H125.73C126.173 13.2904 126.603 13.4504 126.933 13.7467C127.093 13.8945 127.219 14.0749 127.303 14.2757C127.387 14.4764 127.427 14.6929 127.421 14.9105C127.429 15.1239 127.39 15.3364 127.305 15.5326C127.221 15.7288 127.094 15.9037 126.933 16.0444C126.599 16.3309 126.17 16.4833 125.73 16.4721H114.39L114.679 16.1041V26.7772L114.43 26.4887H127.58C127.802 26.4859 128.023 26.5285 128.228 26.6141C128.433 26.6996 128.619 26.8262 128.774 26.9861C128.939 27.128 129.072 27.3033 129.165 27.5004C129.257 27.6976 129.307 27.9122 129.311 28.13C129.315 28.3467 129.273 28.5619 129.188 28.761C129.102 28.9601 128.974 29.1384 128.813 29.2838C128.488 29.5812 128.06 29.7416 127.62 29.7314H112.918C112.698 29.7372 112.479 29.6968 112.275 29.6128C112.071 29.5289 111.887 29.4033 111.734 29.244C111.428 28.9187 111.261 28.4871 111.267 28.0404V2.49667C111.261 2.27834 111.3 2.06118 111.381 1.85838C111.462 1.65558 111.584 1.47137 111.738 1.31694C111.893 1.16251 112.077 1.04109 112.28 0.960038C112.483 0.878991 112.7 0.840014 112.918 0.845475Z"
                          fill="#171717" />
                    <path d="M144.301 0.845421C145.738 0.827877 147.151 1.21386 148.379 1.95948C149.589 2.7034 150.578 3.75781 151.244 5.01319C151.963 6.36889 152.326 7.88522 152.298 9.41969C152.32 10.9567 151.958 12.4749 151.244 13.8361C150.58 15.1135 149.592 16.194 148.379 16.9694C147.16 17.7408 145.743 18.1416 144.301 18.1233H135.935L136.224 17.6259V28.0105C136.229 28.4551 136.065 28.8851 135.766 29.2141C135.614 29.3687 135.433 29.4915 135.233 29.5753C135.034 29.6591 134.819 29.7023 134.602 29.7023C134.386 29.7023 134.171 29.6591 133.971 29.5753C133.772 29.4915 133.59 29.3687 133.439 29.2141C133.149 28.8806 132.993 28.452 133.001 28.0105V2.49661C132.998 2.27904 133.039 2.06312 133.121 1.86159C133.203 1.66005 133.325 1.47696 133.479 1.32309C133.632 1.16923 133.816 1.04771 134.017 0.965672C134.219 0.883637 134.435 0.842751 134.652 0.845421H144.301ZM144.301 14.9502C145.156 14.9646 145.993 14.703 146.688 14.2042C147.397 13.6906 147.965 13.0063 148.339 12.2148C148.756 11.3531 148.967 10.4066 148.956 9.44953C148.979 8.49444 148.767 7.54824 148.339 6.69423C147.956 5.92762 147.389 5.26801 146.688 4.77447C145.987 4.28956 145.153 4.03569 144.301 4.04834H135.935L136.224 3.60073V15.358L135.935 14.9502H144.301Z"
                          fill="#171717" />
                    <path d="M164.006 5.1326L154.317 28.7168C154.216 29.0346 154.013 29.3105 153.74 29.5026C153.441 29.7041 153.084 29.8006 152.724 29.7772C152.364 29.7538 152.022 29.6118 151.751 29.3733C151.504 29.1021 151.372 28.7454 151.383 28.3786C151.356 28.1696 151.384 27.9573 151.463 27.7619L162.136 1.80037C162.236 1.46288 162.45 1.17089 162.743 0.974781C163.035 0.778669 163.387 0.690721 163.737 0.726103C164.09 0.719736 164.437 0.820291 164.732 1.01456C165.015 1.20004 165.226 1.47758 165.329 1.80037L175.962 27.5232C176.04 27.7333 176.08 27.9555 176.081 28.1797C176.093 28.3993 176.055 28.6187 175.971 28.8219C175.886 29.025 175.758 29.2066 175.594 29.3534C175.29 29.6327 174.893 29.7887 174.48 29.7911C174.155 29.7919 173.839 29.6911 173.575 29.5026C173.288 29.2983 173.073 29.0097 172.958 28.677L163.13 5.09281L164.006 5.1326ZM156.386 21.9927L157.789 18.7798H170.024L170.65 21.9927H156.386Z"
                          fill="#171717" />
                    <path d="M195.259 26.4489C195.48 26.4447 195.699 26.4847 195.904 26.5667C196.109 26.6487 196.296 26.771 196.453 26.9264C196.618 27.079 196.748 27.2657 196.834 27.4735C196.919 27.6813 196.959 27.9053 196.95 28.13C196.955 28.3467 196.913 28.5619 196.827 28.761C196.741 28.9601 196.613 29.1384 196.453 29.2838C196.127 29.5812 195.7 29.7416 195.259 29.7314H181.035C180.816 29.737 180.598 29.6965 180.396 29.6125C180.194 29.5286 180.012 29.403 179.861 29.244C179.706 29.0846 179.584 28.8963 179.503 28.6898C179.421 28.4832 179.38 28.2626 179.384 28.0405V2.49669C179.38 2.27716 179.422 2.05929 179.508 1.85713C179.594 1.65497 179.721 1.473 179.881 1.32295C180.192 1.02411 180.604 0.853587 181.035 0.845494C181.257 0.841008 181.478 0.880927 181.685 0.962911C181.891 1.0449 182.08 1.1673 182.238 1.32295C182.397 1.47349 182.523 1.65578 182.607 1.85799C182.691 2.0602 182.731 2.27781 182.726 2.49669V27.195L181.91 26.4489H195.259Z"
                          fill="#171717" />
                    <path d="M71.8869 0.0397898H61.2238V13.9655H60.6767C57.4837 13.9655 54.8975 16.9993 54.8975 20.7294H61.2337V29.9702H67.2019V20.5405H72.7125C72.7125 20.5405 80.9884 19.5458 80.9884 10.7527C80.9884 0.179046 71.9168 0.00994873 71.9168 0.00994873L71.8869 0.0397898ZM71.0514 13.9357H67.1721V7.24138H71.1508C71.1508 7.24138 73.8664 7.13196 74.0354 10.504C74.09 10.931 74.054 11.3647 73.9297 11.7769C73.8054 12.1891 73.5957 12.5704 73.3141 12.8961C73.0326 13.2218 72.6855 13.4844 72.2957 13.667C71.9058 13.8495 71.4818 13.9479 71.0514 13.9556"
                          fill="#ED1C24" />
                    <path d="M45.7563 16.1041L59.314 0H50.8988L41.1608 11.1406V0H34.9141C31.7211 0 29.1349 2.98409 29.1349 6.76393H35.2225V30H41.1906V21.0477L50.6004 30H59.682L45.7563 16.1041Z"
                          fill="#ED1C24" />
                    <path d="M3.37234 14.3137C3.4917 12.3741 5.00364 8.96227 8.34581 8.96227H8.5547V8.73349L8.5348 0.0199585H20.2125C21.9674 0.06516 23.6482 0.736886 24.9508 1.91364C26.2534 3.09039 27.0919 4.69447 27.3146 6.43574C27.4512 7.46008 27.3759 8.50153 27.0936 9.49561C26.8113 10.4897 26.3279 11.4152 25.6734 12.2149C25.0218 12.8653 24.2452 13.3769 23.3904 13.7189C22.5356 14.0608 21.6203 14.2259 20.6999 14.2043L3.37234 14.3137ZM14.0355 8.93243H18.8995C19.4624 8.93243 20.0023 8.70953 20.4012 8.31248C20.8001 7.91543 21.0255 7.37655 21.0282 6.81373C21.0282 6.24917 20.8039 5.70774 20.4047 5.30854C20.0055 4.90935 19.4641 4.68508 18.8995 4.68508H14.0156L14.0355 8.93243Z"
                          fill="#ED1C24" />
                    <path d="M8.53479 29.98L8.60442 21.0278H0.000309271C-0.014511 19.6485 0.503814 18.3168 1.44715 17.3104C2.39048 16.3041 3.68596 15.7009 5.06331 15.6266H8.32591H21.8438C25.365 15.6266 27.1853 16.8898 28.3889 18.3222C28.986 19.0937 29.4222 19.9772 29.6716 20.9203C29.9211 21.8635 29.9787 22.8471 29.8412 23.8129C29.7281 25.48 28.9884 27.0425 27.7705 28.1865C26.5527 29.3305 24.947 29.9713 23.2762 29.98H8.53479ZM14.0156 25.4343L21.9731 25.3746C22.5439 25.372 23.0903 25.1434 23.493 24.7389C23.8956 24.3344 24.1217 23.7869 24.1217 23.2161C24.119 22.6454 23.8905 22.0989 23.4859 21.6963C23.0814 21.2936 22.5339 21.0676 21.9632 21.0676H14.0056L14.0156 25.4343Z"
                          fill="#ED1C24" />
                </svg>
                <button class="close-side-nav hover:bg-black-50 p-2 rounded-full transition-all">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                              clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <nav class="mt-8 p-4 space-y-4">
                <a class="hover:bg-black-50 text-black-700 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="/">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.71429 6.85652V15.2851C2.71429 15.4366 2.7745 15.582 2.88166 15.6892C2.98883 15.7963 3.13417 15.8565 3.28572 15.8565H6.71429V10.9994C6.71429 10.7721 6.8046 10.554 6.96535 10.3933C7.12609 10.2325 7.34411 10.1422 7.57144 10.1422H10.4286C10.6559 10.1422 10.8739 10.2325 11.0347 10.3933C11.1954 10.554 11.2857 10.7721 11.2857 10.9994V15.8565H14.7143C14.8658 15.8565 15.0112 15.7963 15.1184 15.6892C15.2255 15.582 15.2857 15.4366 15.2857 15.2851V6.85652"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17 8.42795L9.38893 1.14223C9.21036 0.953662 8.79286 0.951519 8.61107 1.14223L1 8.42795"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.1428 5.67794V1.5708H12.4286V4.03509" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>
                    <span>Home</span>
                </a>
                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="action-plan.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z"
                              stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M9.00001 11.6667C10.4728 11.6667 11.6667 10.4728 11.6667 9C11.6667 7.52724 10.4728 6.33334 9.00001 6.33334C7.52725 6.33334 6.33334 7.52724 6.33334 9C6.33334 10.4728 7.52725 11.6667 9.00001 11.6667Z"
                              stroke-width="2" stroke-miterlimit="10" />
                        <path d="M7.66668 6.33333L5.45834 1.875" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M10.3333 6.33333L12.5417 1.875" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M11.9812 8.99209L16.9566 8.99751" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M10.7954 11.3804L13.8058 15.3413" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M6.01875 8.99209L1.04333 8.99751" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                        <path d="M7.2046 11.3804L4.19418 15.3413" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                    </svg>
                    <span>Action Plan</span>
                </a>

                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="upcoming-projects.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.6667 10L7.93334 14.6667L6.33334 12.7967" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1.66667 6.33333C1.48986 6.33333 1.32029 6.40357 1.19526 6.52859C1.07024 6.65362 1 6.82319 1 7V16C1 17.26 2.07333 18.3333 3.33333 18.3333H14.6667C15.9267 18.3333 17 17.3121 17 16.0521V7C17 6.82319 16.9298 6.65362 16.8047 6.52859C16.6797 6.40357 16.5101 6.33333 16.3333 6.33333H1.66667Z"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5 6.33333V5C5 3.93913 5.42143 2.92172 6.17157 2.17157C6.92172 1.42143 7.93913 1 9 1V1C10.0609 1 11.0783 1.42143 11.8284 2.17157C12.5786 2.92172 13 3.93913 13 5V6.33333"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Upcoming Projects</span>
                </a>
                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="about.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.95538 9.59304C2.94092 9.82803 3.02457 10.0585 3.18639 10.2295C3.34821 10.4005 3.57371 10.4967 3.80914 10.4952L13.0651 10.4368C13.6677 10.4491 14.2667 10.3402 14.8264 10.1163C15.3903 9.89074 15.9025 9.55328 16.3323 9.12426C16.3525 9.10416 16.3716 9.08306 16.3896 9.06104C16.8134 8.54328 17.1264 7.94404 17.3092 7.30042C17.4917 6.65754 17.5405 5.98406 17.4526 5.32159C17.3073 4.18973 16.762 3.14711 15.9151 2.38212C15.0678 1.61664 13.9744 1.17969 12.8329 1.15028L12.811 1.15H6.565C6.33923 1.15 6.12274 1.23982 5.96327 1.39965C5.80381 1.55947 5.71449 1.77617 5.715 2.00194L5.72417 6.0156C4.87617 6.21158 4.23871 6.73226 3.80419 7.3194C3.2676 8.04445 2.99683 8.91948 2.95538 9.59304ZM12.1087 5.91698H10.3531L10.3505 5.34521H12.1087C12.1853 5.34521 12.2587 5.37562 12.3128 5.42973C12.3664 5.48337 12.3968 5.55597 12.3973 5.63178C12.3964 5.70735 12.3659 5.77959 12.3123 5.83294C12.2582 5.88676 12.185 5.91698 12.1087 5.91698Z"
                              stroke-width="1.7" stroke-linejoin="round" />
                        <path d="M5.715 18.6848C5.71323 18.9113 5.80201 19.1292 5.9616 19.2901C6.12119 19.4509 6.33839 19.5414 6.56497 19.5414L14.4496 19.5414L14.4541 19.5413C15.5625 19.5356 16.6276 19.1105 17.4355 18.3516C18.2357 17.5999 18.7248 16.5758 18.8068 15.4817C18.8909 14.8625 18.8519 14.2326 18.6921 13.6283C18.5296 13.0139 18.2454 12.4383 17.8565 11.9357C17.8495 11.9267 17.8423 11.9179 17.835 11.9092C17.4532 11.4547 16.9557 11.0076 16.2623 10.6795C15.5711 10.3523 14.729 10.1642 13.6835 10.1642H6.45325H4.70819C4.69293 10.1642 4.67766 10.1646 4.66242 10.1654C3.70695 10.2169 2.80828 10.6354 2.15389 11.3335L2.77403 11.9148L2.15389 11.3335C1.4995 12.0316 1.13993 12.9554 1.15021 13.9122C1.15522 14.3781 1.53429 14.7531 2.00017 14.7531H5.74558L5.715 18.6848ZM10.3445 15.4036L10.3431 14.7744H13.7474L13.7474 14.7744C13.8279 14.7744 13.9051 14.8063 13.9622 14.8631C14.0188 14.9194 14.051 14.9957 14.0519 15.0755C14.0514 15.1553 14.0195 15.2318 13.9632 15.2884C13.9064 15.3455 13.8293 15.3777 13.7488 15.3781L13.7463 15.3781L10.3445 15.4036Z"
                              stroke-width="1.7" stroke-linejoin="round" />
                    </svg>
                    <span>About Us</span>
                </a>
                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="contact.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.7154 1.13942H2.42873C2.04981 1.13942 1.6864 1.28994 1.41847 1.55788C1.15053 1.82582 1 2.18922 1 2.56815V11.1405C1 11.5195 1.15053 11.8829 1.41847 12.1508C1.6864 12.4187 2.04981 12.5693 2.42873 12.5693H14.3847C14.7636 12.5693 15.127 12.4187 15.395 12.1508C15.6629 11.8829 15.8134 11.5195 15.8134 11.1405V6.24713"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.28598 3.42538L8.42941 7.42583L11.5369 5.08021" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                        <mask id="path-3-inside-1_11_33" fill="white">
                            <path d="M14.7158 4.56837C14.2641 4.56837 13.8224 4.4344 13.4468 4.18341C13.0712 3.93242 12.7784 3.57568 12.6055 3.1583C12.4326 2.74092 12.3874 2.28165 12.4755 1.83856C12.5637 1.39547 12.7812 0.988472 13.1007 0.669023C13.4201 0.349574 13.8271 0.132027 14.2702 0.043891C14.7133 -0.0442447 15.1726 0.000989684 15.5899 0.173874C16.0073 0.346759 16.3641 0.639528 16.6151 1.01516C16.866 1.39079 17 1.83242 17 2.28418C16.9995 2.88984 16.7587 3.47056 16.3305 3.89882C15.9022 4.32709 15.3215 4.5679 14.7158 4.56837ZM14.7158 1.14299C14.4897 1.14263 14.2685 1.20937 14.0803 1.33474C13.8921 1.46012 13.7454 1.63851 13.6586 1.84733C13.5718 2.05615 13.5489 2.28602 13.5928 2.50786C13.6367 2.72969 13.7454 2.93352 13.9052 3.09355C14.065 3.25358 14.2686 3.36261 14.4904 3.40686C14.7122 3.45111 14.9421 3.42858 15.151 3.34212C15.36 3.25566 15.5386 3.10917 15.6643 2.92116C15.7899 2.73316 15.857 2.51211 15.857 2.28597C15.857 1.98314 15.7368 1.69269 15.5229 1.47839C15.3089 1.26409 15.0187 1.14346 14.7158 1.14299Z" />
                        </mask>
                        <path d="M14.7158 4.56837C14.2641 4.56837 13.8224 4.4344 13.4468 4.18341C13.0712 3.93242 12.7784 3.57568 12.6055 3.1583C12.4326 2.74092 12.3874 2.28165 12.4755 1.83856C12.5637 1.39547 12.7812 0.988472 13.1007 0.669023C13.4201 0.349574 13.8271 0.132027 14.2702 0.043891C14.7133 -0.0442447 15.1726 0.000989684 15.5899 0.173874C16.0073 0.346759 16.3641 0.639528 16.6151 1.01516C16.866 1.39079 17 1.83242 17 2.28418C16.9995 2.88984 16.7587 3.47056 16.3305 3.89882C15.9022 4.32709 15.3215 4.5679 14.7158 4.56837ZM14.7158 1.14299C14.4897 1.14263 14.2685 1.20937 14.0803 1.33474C13.8921 1.46012 13.7454 1.63851 13.6586 1.84733C13.5718 2.05615 13.5489 2.28602 13.5928 2.50786C13.6367 2.72969 13.7454 2.93352 13.9052 3.09355C14.065 3.25358 14.2686 3.36261 14.4904 3.40686C14.7122 3.45111 14.9421 3.42858 15.151 3.34212C15.36 3.25566 15.5386 3.10917 15.6643 2.92116C15.7899 2.73316 15.857 2.51211 15.857 2.28597C15.857 1.98314 15.7368 1.69269 15.5229 1.47839C15.3089 1.26409 15.0187 1.14346 14.7158 1.14299Z"
                              fill="black" />
                        <path d="M14.7158 4.56837V6.56837L14.7174 6.56837L14.7158 4.56837ZM17 2.28418L19 2.28575V2.28418H17ZM14.7158 1.14299L14.719 -0.857012L14.7158 1.14299ZM15.857 2.28597L17.857 2.28597L15.857 2.28597ZM14.7158 2.56837C14.6596 2.56837 14.6047 2.5517 14.5579 2.52047L12.3357 5.84635C13.0402 6.31711 13.8685 6.56837 14.7158 6.56837V2.56837ZM14.5579 2.52047C14.5112 2.48925 14.4748 2.44487 14.4533 2.39294L10.7578 3.92367C11.082 4.7065 11.6311 5.3756 12.3357 5.84635L14.5579 2.52047ZM14.4533 2.39294C14.4318 2.34101 14.4261 2.28387 14.4371 2.22874L10.514 1.44838C10.3487 2.27943 10.4335 3.14084 10.7578 3.92367L14.4533 2.39294ZM14.4371 2.22874C14.4481 2.17362 14.4751 2.12298 14.5149 2.08324L11.6865 -0.745191C11.0873 -0.146037 10.6793 0.617332 10.514 1.44838L14.4371 2.22874ZM14.5149 2.08324C14.5546 2.04349 14.6053 2.01643 14.6604 2.00546L13.88 -1.91768C13.049 -1.75237 12.2856 -1.34435 11.6865 -0.745191L14.5149 2.08324ZM14.6604 2.00546C14.7155 1.9945 14.7726 2.00012 14.8246 2.02163L16.3553 -1.67388C15.5725 -1.99814 14.7111 -2.08299 13.88 -1.91768L14.6604 2.00546ZM14.8246 2.02163C14.8765 2.04314 14.9209 2.07957 14.9521 2.1263L18.278 -0.0959803C17.8072 -0.800511 17.1381 -1.34963 16.3553 -1.67388L14.8246 2.02163ZM14.9521 2.1263C14.9833 2.17304 15 2.22798 15 2.28418H19C19 1.43685 18.7487 0.608549 18.278 -0.0959803L14.9521 2.1263ZM15 2.28262C15 2.35839 14.9698 2.43104 14.9163 2.48461L17.7447 5.31304C18.5476 4.51008 18.9991 3.4213 19 2.28575L15 2.28262ZM14.9163 2.48461C14.8627 2.53819 14.79 2.56831 14.7143 2.56837L14.7174 6.56837C15.8529 6.56748 16.9417 6.11599 17.7447 5.31304L14.9163 2.48461ZM14.719 -0.857012C14.0971 -0.857983 13.489 -0.674476 12.9715 -0.329712L15.1892 2.9992C15.0481 3.09321 14.8823 3.14325 14.7127 3.14298L14.719 -0.857012ZM12.9715 -0.329712C12.454 0.0150516 12.0504 0.505578 11.8117 1.0798L15.5054 2.61486C15.4404 2.77144 15.3303 2.90519 15.1892 2.9992L12.9715 -0.329712ZM11.8117 1.0798C11.5731 1.65401 11.5101 2.28612 11.6308 2.89612L15.5547 2.1196C15.5877 2.28593 15.5705 2.45829 15.5054 2.61486L11.8117 1.0798ZM11.6308 2.89612C11.7516 3.50613 12.0505 4.06661 12.4899 4.50666L15.3205 1.68044C15.4403 1.80043 15.5218 1.95326 15.5547 2.1196L11.6308 2.89612ZM12.4899 4.50666C12.9292 4.9467 13.4893 5.24653 14.0991 5.3682L14.8817 1.44552C15.048 1.4787 15.2007 1.56045 15.3205 1.68044L12.4899 4.50666ZM14.0991 5.3682C14.7089 5.48987 15.3411 5.42792 15.9157 5.19018L14.3864 1.49406C14.5431 1.42924 14.7154 1.41234 14.8817 1.44552L14.0991 5.3682ZM15.9157 5.19018C16.4903 4.95244 16.9814 4.5496 17.327 4.03263L14.0016 1.8097C14.0958 1.66873 14.2297 1.55889 14.3864 1.49406L15.9157 5.19018ZM17.327 4.03263C17.6726 3.51567 17.857 2.90781 17.857 2.28597L13.857 2.28597C13.857 2.11641 13.9073 1.95066 14.0016 1.8097L17.327 4.03263ZM17.857 2.28597C17.857 1.45325 17.5266 0.654563 16.9382 0.0652815L14.1076 2.8915C13.9471 2.73082 13.857 2.51303 13.857 2.28597L17.857 2.28597ZM16.9382 0.0652815C16.3498 -0.524001 15.5517 -0.855711 14.719 -0.857012L14.7127 3.14298C14.4856 3.14263 14.268 3.05218 14.1076 2.8915L16.9382 0.0652815Z"
                              fill="#686868" mask="url(#path-3-inside-1_11_33)" />
                    </svg>
                    <span>Contact Us</span>
                </a>
                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="login.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M9.48816 2.48816C9.80072 2.17559 10.2246 2 10.6667 2H21.3333C21.7754 2 22.1993 2.17559 22.5118 2.48816C22.8244 2.80072 23 3.22464 23 3.66667V19.6667C23 20.1087 22.8244 20.5326 22.5118 20.8452C22.1993 21.1577 21.7754 21.3333 21.3333 21.3333H11.2C10.7124 21.3333 10.1252 21.1261 9.6645 20.7651C9.19995 20.4011 9 19.9965 9 19.6667V17C9 16.4477 8.55229 16 8 16C7.44772 16 7 16.4477 7 17V19.6667C7 20.8095 7.66372 21.7382 8.431 22.3394C9.2021 22.9436 10.215 23.3333 11.2 23.3333H21.3333C22.3058 23.3333 23.2384 22.947 23.9261 22.2594C24.6137 21.5718 25 20.6391 25 19.6667V3.66667C25 2.69421 24.6137 1.76158 23.9261 1.07394C23.2384 0.386308 22.3058 0 21.3333 0H10.6667C9.69421 0 8.76158 0.386308 8.07394 1.07394C7.38631 1.76158 7 2.69421 7 3.66667V6.33333C7 6.88562 7.44772 7.33333 8 7.33333C8.55229 7.33333 9 6.88562 9 6.33333V3.66667C9 3.22464 9.17559 2.80072 9.48816 2.48816ZM13.2627 6.29289C12.9767 6.00689 12.5465 5.92134 12.1729 6.07612C11.7992 6.2309 11.5556 6.59554 11.5556 7V10.4444H1C0.447715 10.4444 0 10.8922 0 11.4444C0 11.9967 0.447715 12.4444 1 12.4444H11.5556V15.8889C11.5556 16.2934 11.7992 16.658 12.1729 16.8128C12.5465 16.9675 12.9767 16.882 13.2627 16.596L17.7071 12.1516C18.0976 11.761 18.0976 11.1279 17.7071 10.7373L13.2627 6.29289ZM13.5556 13.4747V12.4444H14.5858L13.5556 13.4747ZM13.5556 10.4444H14.5858L13.5556 9.41421V10.4444Z"
                              fill="#686868" />
                    </svg>

                    <span>Login</span>
                </a>
                <a class="hover:bg-black-50 text-black-700 hover:text-black-800 rounded-md transition-all text-lg font-medium flex items-center space-x-4 p-2"
                   href="register.html">
                    <svg class="h-6 w-6 stroke-black-700" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2145 3.57139C14.1098 5.02387 13.0323 6.14278 11.8573 6.14278C10.6824 6.14278 9.60309 5.02423 9.50023 3.57139C9.39309 2.06034 10.442 1 11.8573 1C13.2727 1 14.3216 2.08784 14.2145 3.57139Z"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.8574 8.42846C9.52989 8.42846 7.29171 9.58451 6.73101 11.8359C6.65672 12.1338 6.84351 12.4284 7.14957 12.4284H16.5655C16.8716 12.4284 17.0573 12.1338 16.9841 11.8359C16.4234 9.54844 14.1852 8.42846 11.8574 8.42846Z"
                              stroke-width="2" stroke-miterlimit="10" />
                        <path d="M7.00028 4.21209C6.91671 5.37207 6.04601 6.28563 5.10746 6.28563C4.1689 6.28563 3.29677 5.37243 3.21463 4.21209C3.12928 3.00532 3.97676 2.14284 5.10746 2.14284C6.23815 2.14284 7.08564 3.02747 7.00028 4.21209Z"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.21454 8.49989C6.56991 8.20454 5.85992 8.09097 5.10743 8.09097C3.25031 8.09097 1.46106 9.01417 1.01285 10.8124C0.953921 11.0502 1.1032 11.2856 1.34749 11.2856H5.35743"
                              stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
                    </svg>
                    <span>Register</span>
                </a>
            </nav>
        </div>
        <!-- end mobile off canvas side nav -->
    </div>

    @RenderBody()
    
    <!-- footer section start -->
    <section class="pt-4 h-auto bg-black text-gray-300">
        <footer class="max-w-5xl mx-auto px-6 py-8 text-black-200 md:flex flex-wrap md:gap-4 flex-row justify-between items-start">
            <div>
                <svg class="w-[140px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 39.6">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #ccc;
                            }

                            .cls-2 {
                                fill: #ed1c24;
                            }
                        </style>
                    </defs>
                    <path class="cls-1"
                          d="M107.68,5.57A1.47,1.47,0,0,1,108.8,6a1.52,1.52,0,0,1,.42,1.1V32.84a1.66,1.66,0,0,1-1.7,1.74,2,2,0,0,1-.75-.14,1.4,1.4,0,0,1-.58-.4L88.45,10.59l.83-.5v23a1.49,1.49,0,0,1-.43,1.1,1.54,1.54,0,0,1-1.14.43,1.43,1.43,0,0,1-1.08-.43,1.52,1.52,0,0,1-.41-1.1V7.23A1.56,1.56,0,0,1,86.69,6a1.62,1.62,0,0,1,1.14-.46,2.15,2.15,0,0,1,.77.15,1.29,1.29,0,0,1,.6.43l17.49,23.13-.54.66V7.11a1.49,1.49,0,0,1,.43-1.1A1.52,1.52,0,0,1,107.68,5.57Z">
                    </path>
                    <path class="cls-1"
                          d="M115.52,5.57h14.75a1.73,1.73,0,0,1,1.2.46,1.51,1.51,0,0,1,.5,1.16,1.45,1.45,0,0,1-.5,1.14,1.75,1.75,0,0,1-1.2.43H116.92l.38-.7V18.54l-.42-.45H128.4a1.76,1.76,0,0,1,1.21.45,1.53,1.53,0,0,1,.49,1.17,1.44,1.44,0,0,1-.49,1.14,1.79,1.79,0,0,1-1.21.43H117l.29-.37V31.64l-.25-.29h13.22a1.64,1.64,0,0,1,1.2.5A1.55,1.55,0,0,1,132,33a1.52,1.52,0,0,1-.5,1.16,1.72,1.72,0,0,1-1.2.45H115.52a1.59,1.59,0,0,1-1.19-.49,1.73,1.73,0,0,1-.47-1.21V7.23a1.62,1.62,0,0,1,1.66-1.66Z">
                    </path>
                    <path class="cls-1"
                          d="M147.07,5.57a7.72,7.72,0,0,1,4.1,1.12,8,8,0,0,1,2.88,3.07,9.1,9.1,0,0,1,1.06,4.43,9.27,9.27,0,0,1-1.06,4.44,8.26,8.26,0,0,1-2.88,3.15,7.49,7.49,0,0,1-4.1,1.16h-8.41l.29-.5V32.88a1.77,1.77,0,0,1-.46,1.21,1.64,1.64,0,0,1-2.34,0,1.8,1.8,0,0,1-.44-1.21V7.23a1.64,1.64,0,0,1,1.66-1.66Zm0,14.18a4,4,0,0,0,2.4-.75,5.23,5.23,0,0,0,1.66-2,6.22,6.22,0,0,0,.62-2.78,5.86,5.86,0,0,0-.62-2.77,5.21,5.21,0,0,0-1.66-1.93,4.11,4.11,0,0,0-2.4-.73h-8.41l.29-.45V20.16l-.29-.41Z">
                    </path>
                    <path class="cls-1"
                          d="M166.88,9.88l-9.74,23.71a1.54,1.54,0,0,1-.58.79,1.64,1.64,0,0,1-2-.13,1.42,1.42,0,0,1-.37-1,1.24,1.24,0,0,1,.08-.62L165,6.53a1.52,1.52,0,0,1,1.61-1.08,1.76,1.76,0,0,1,1,.29,1.48,1.48,0,0,1,.6.79l10.69,25.86a1.92,1.92,0,0,1,.12.66,1.48,1.48,0,0,1-.49,1.18,1.67,1.67,0,0,1-1.12.44,1.56,1.56,0,0,1-.91-.29,1.7,1.7,0,0,1-.62-.83L166,9.84Zm-7.66,16.95,1.41-3.23h12.3l.63,3.23Z">
                    </path>
                    <path class="cls-1"
                          d="M198.3,31.31a1.66,1.66,0,0,1,1.2.48A1.56,1.56,0,0,1,200,33a1.52,1.52,0,0,1-.5,1.16,1.72,1.72,0,0,1-1.2.45H184a1.57,1.57,0,0,1-1.18-.49,1.7,1.7,0,0,1-.48-1.21V7.23a1.58,1.58,0,0,1,.5-1.18A1.72,1.72,0,0,1,184,5.57a1.68,1.68,0,0,1,1.21.48,1.57,1.57,0,0,1,.49,1.18V32.06l-.82-.75Z">
                    </path>
                    <path class="cls-2"
                          d="M72.27,4.76H61.55v14H61c-3.21,0-5.81,3.05-5.81,6.8h6.37l0,9.29h6l0-9.48h5.54s8.32-1,8.32-9.84c0-10.63-9.12-10.8-9.12-10.8m-.87,14H67.53V12h4s2.73-.11,2.9,3.28a3.08,3.08,0,0,1-3,3.47">
                    </path>
                    <path class="cls-2"
                          d="M46,20.91,59.63,4.72H51.17l-9.79,11.2V4.72H35.1c-3.21,0-5.81,3-5.81,6.8h6.12V34.88h6v-9l9.46,9H60Z">
                    </path>
                    <path class="cls-2"
                          d="M3.39,19.11c.12-1.95,1.64-5.38,5-5.38H8.6l0-.23L8.58,4.74H20.32a7.39,7.39,0,0,1,7.14,6.45A7.59,7.59,0,0,1,25.81,17a6.85,6.85,0,0,1-5,2ZM14.11,13.7H19a2.14,2.14,0,0,0,2.14-2.13h0A2.14,2.14,0,0,0,19,9.43H14.09Z">
                    </path>
                    <path class="cls-2"
                          d="M8.58,34.86l.07-9H0a5.38,5.38,0,0,1,5.09-5.43H8.37l13.59,0c3.54,0,5.37,1.27,6.58,2.71A7.33,7.33,0,0,1,30,28.66a6.65,6.65,0,0,1-6.6,6.2Zm5.51-4.57,8-.06a2.17,2.17,0,0,0,2.16-2.17h0a2.17,2.17,0,0,0-2.17-2.16h-8Z">
                    </path>
                </svg>
                <div class="pt-6">
                    <address class="space-y-2 not-italic text-lg text-gray-500 ">
                        <p class="flex items-center space-x-4">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <span class="hover:underline hover:text-white">Butwal 11, Rupendahi</span>
                        </p>
                        <p class="flex items-center space-x-4">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                            </svg>
                            <a class="hover:underline hover:text-white"
                               href="mailto: administration@bkpnepal.com">administration@bkpnepal.com</a>
                        </p>
                        <p class="flex items-center space-x-4">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.414 7l3.293-3.293a1 1 0 00-1.414-1.414L13 5.586V4a1 1 0 10-2 0v4.003a.996.996 0 00.617.921A.997.997 0 0012 9h4a1 1 0 100-2h-1.586z">
                                </path>
                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                                </path>
                            </svg>
                            <a class="hover:text-white hover:underline text-[15px]" href="tel:+9779857039526">9857039526</a>
                        </p>
                    </address>
                </div>
                <div class="mt-8 mb-4">
                    <a class="btn bg-brand mt-4 py-3 text-md uppercase" href="register.html">Become a member</a>
                </div>
            </div>

            <!-- footer sitemap -->
            <div class="py-6 md:py-0">
                <h3 class="text-xl text-gray-100">Menus</h3>
                <ul class="space-y-2 pt-4 text-gray-500 text-lg">
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white " href="/">Home</a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="action-plan.html">
                            Action
                            Plan
                        </a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="upcoming-projects.html">
                            Upcoming
                            Projects
                        </a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="about.html">
                            About
                            us
                        </a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="contact.html">
                            Contact
                            us
                        </a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="login.html">Login</a>
                    </li>
                    <li>
                        <a class="transition duration-100 ease-in hover:underline hover:text-white"
                           href="register.html">Register</a>
                    </li>
                </ul>
            </div>
            <!-- end of footer sitemap -->
            <!-- connect with us -->
            <div class="">
                <h3 class="text-gray-100 text-xl">Follow us</h3>
                <div class="flex space-x-4 mt-4 items-center">
                    <!-- faccebook icon -->
                    <a href="#" target="_blank">
                        <svg class="w-6 fill-white hover:fill-gray-600" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 35.9789 8.77641 45.908 20.25 47.7084V30.9375H14.1562V24H20.25V18.7125C20.25 12.6975 23.8331 9.375 29.3152 9.375C31.9402 9.375 34.6875 9.84375 34.6875 9.84375V15.75H31.6613C28.68 15.75 27.75 17.6002 27.75 19.5V24H34.4062L33.3422 30.9375H27.75V47.7084C39.2236 45.908 48 35.9789 48 24Z" />
                        </svg>
                    </a>
                    <!--twitter icon -->
                    <a href="#" target="_blank">
                        <svg class="w-6 fill-white hover:fill-gray-600" viewBox="0 0 48 48" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.1003 43.5C33.2091 43.5 43.1166 28.4935 43.1166 15.4838C43.1166 15.0619 43.1072 14.6307 43.0884 14.2088C45.0158 12.815 46.679 11.0886 48 9.11066C46.205 9.90926 44.2993 10.4308 42.3478 10.6575C44.4026 9.42588 45.9411 7.491 46.6781 5.21159C44.7451 6.35718 42.6312 7.16528 40.4269 7.60128C38.9417 6.02318 36.978 4.97829 34.8394 4.62816C32.7008 4.27803 30.5064 4.64216 28.5955 5.66425C26.6846 6.68635 25.1636 8.30947 24.2677 10.2827C23.3718 12.2559 23.1509 14.4693 23.6391 16.5807C19.725 16.3842 15.8959 15.3675 12.4 13.5963C8.90405 11.825 5.81939 9.33893 3.34594 6.29909C2.0888 8.46655 1.70411 11.0314 2.27006 13.4722C2.83601 15.9131 4.31013 18.047 6.39281 19.44C4.82926 19.3904 3.29995 18.9694 1.93125 18.2119V18.3338C1.92985 20.6084 2.7162 22.8132 4.15662 24.5736C5.59704 26.334 7.60265 27.5412 9.8325 27.99C8.38411 28.3863 6.86396 28.4441 5.38969 28.1588C6.01891 30.1149 7.24315 31.8258 8.89154 33.0527C10.5399 34.2796 12.5302 34.9613 14.5847 35.0025C11.0968 37.7423 6.78835 39.2283 2.35313 39.2213C1.56657 39.2201 0.780798 39.1719 0 39.0769C4.50571 41.9676 9.74706 43.5028 15.1003 43.5Z" />
                        </svg>
                    </a>
                    <!-- linked icon -->
                    <a href="#" target="_blank">
                        <svg class="w-6 fill-white hover:fill-gray-600" viewBox="0 0 48 48" fill="white"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M44.4469 0H3.54375C1.58437 0 0 1.54688 0 3.45938V44.5312C0 46.4437 1.58437 48 3.54375 48H44.4469C46.4062 48 48 46.4438 48 44.5406V3.45938C48 1.54688 46.4062 0 44.4469 0ZM14.2406 40.9031H7.11563V17.9906H14.2406V40.9031ZM10.6781 14.8688C8.39062 14.8688 6.54375 13.0219 6.54375 10.7437C6.54375 8.46562 8.39062 6.61875 10.6781 6.61875C12.9563 6.61875 14.8031 8.46562 14.8031 10.7437C14.8031 13.0125 12.9563 14.8688 10.6781 14.8688ZM40.9031 40.9031H33.7875V29.7656C33.7875 27.1125 33.7406 23.6906 30.0844 23.6906C26.3812 23.6906 25.8187 26.5875 25.8187 29.5781V40.9031H18.7125V17.9906H25.5375V21.1219H25.6312C26.5781 19.3219 28.9031 17.4188 32.3625 17.4188C39.5719 17.4188 40.9031 22.1625 40.9031 28.3313V40.9031Z" />
                        </svg>
                    </a>
                </div>

                <!-- newsletter signup form -->
                <div class="my-6">
                    <h3 class="text-gray-100 mb-2 text-xl">Newsletter Signup</h3>
                    <div>
                        <input class="rounded-sm bg-black-800 py-1 px-2 mr-2 focus:outline-none focus:ring-2 focus:ring-black-700 placeholder:text-sm"
                               type="email" name="newsletter-email" id="newsletter-email" placeholder="Your Email">
                        <button class="inline-block bg-black-800 hover:bg-brand-800  py-1 px-3 rounded mt-2"
                                type="submit">
                            Signup
                        </button>
                    </div>
                </div>
                <!-- end newsletter signup -->
            </div>
            <!-- end of connect with us -->

        </footer>
        <!-- copyright section -->
        <div class="w-full px-6 bg-black-dark text-gray-600 md:text-center py-6">
            <p class="mb-2">
                &copy Copyright <span>Bishwokarma Trading and Promotors Pvt. ltd.</span> ,
                All Rights Reserved.
            </p>
            <span>
                Designed :
                <a href="https://deepin.com.np/web?src=bkpnepal" target="_blank">
                    deepin.com.np
                    <svg class="w-4 h-4 inline-block stroke-brand" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
                    </svg>
                </a>
            </span>
        </div>
        <!-- end of copyright -->
    </section>
    <!-- footer section end -->

    <script src="~/Assets/Frontend/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
      offset: 100,
    });
    </script>

</body>
</html>