@*<link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/ruang-admin.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Assets/css/sweetalert.min.css" rel="stylesheet" />
    <link href="~/Assets/custom/nepali-datepicker/nepali.datepicker.v3.6.min.css" rel="stylesheet" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/css/TabPanel.css" rel="stylesheet" />*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>

@Scripts.Render("~/stock/jquery-ui")
<script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Assets/js/ruang-admin.min.js"></script>
<script src="~/Assets/custom/layout-js-functions.js"></script>

