@model Web.Entity.Dto.MenusDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="h3 mb-2 text-gray-800">Add/Modify Menus</h3>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="form_validation">
                    <input type="hidden" value="@Model.MenuId" name="MenuId" />
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Menu Name</label>
                                <input type="text" value="@Model.MenuNameEnglish"
                                       name="MenuNameEnglish" placeholder="Enter Menu Name"
                                       class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Check Menu Name</label>
                                <input type="text" value="@Model.CheckMenuName"
                                       name="CheckMenuName"
                                       placeholder="Enter Check Menu Name"
                                       class="form-control" />
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (Model.Status == false && Model.MenuId > 0)
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" />
                                        }
                                        else
                                        {
                                            <input class="form-check-input" name="Status" value="true" type="checkbox" checked="checked" />
                                        }
                                        Is Active
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" id="btnSave" name="SaveButton" class="btn btn-primary btn-md"><i class="fa fa-save"></i> <span>Save</span> </button>
                    <a href="/MenuList" class="btn btn-danger"><i class="fa fa-window-close"></i> Close</a>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/web/back-end/js")
<script src="~/Assets/Backend/js/custom/plugin/jquery.validate.min.js"></script>

<script>
    var $checkoutForm = $('#form_validation').validate({
        ignore: [],
        rules: {
            'MenuNameEnglish': {
                required: true,
                maxlength: 50
            },
            'CheckMenuName': {
                required: true,
                maxlength: 100,
            },
            //'MenuNameNepali': {
            //    required: true,
            //    maxlength: 100,
            //},
            //'MenuLink': {
            //    required: true,
            //    maxlength: 100,
            //},
            //'MenuOrder': {
            //    required: true,
            //    maxlength: 100,
            //    min: 1,
            //},
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="MenuId"').val();
            if (parseInt(id) > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Menus/Update",
                    data: $("#form_validation").serialize(),
                    success: function (resp) {
                        debugger;
                        console.log(resp);
                        showResultMessage(resp, "/MenuList")
                    },
                    error: function (resp) {
                        console.log(resp);
                        showResultMessage(resp)
                    }
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Menus/Insert",
                    data: $("#form_validation").serialize(),
                    success: function (resp) {
                        console.log(resp);
                        showResultMessage(resp, "/MenuList")
                    },
                    error: function (resp) {
                        console.log(resp);
                        showResultMessage(resp)
                    }
                })
            }

        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');

            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });

    function AllowPositiveNumber(event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    }
</script>


