@model Web.Entity.Dto.MenusDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add/Modify Menus</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Settings</a></li>
            <li class="breadcrumb-item">Menus</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-body">
                    <form id="AddModifyForm">
                        <div class="row">
                            <input type="hidden" value="@Model.MenuId"
                                   name="MenuId" />

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control"
                                           name="MenuNameEnglish"
                                           value="@Model.MenuNameEnglish"
                                           placeholder="Enter Menu Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Check Menu Name</label>
                                    <input type="text" class="form-control"
                                           name="CheckMenuName"
                                           value="@Model.CheckMenuName"
                                           placeholder="Enter Check Menu Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @if (Model.Status == false && Model.MenuId > 0)
                                            {
                                                <input class="form-check-input"
                                                       name="Status"
                                                       value="true" type="checkbox" />
                                            }
                                            else
                                            {
                                                <input class="form-check-input"
                                                       name="Status" value="true"
                                                       type="checkbox"
                                                       checked="checked" />
                                            }
                                            Is Active ?
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                        <a href="~/MenuList" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <!--Row-->
</div>
@Scripts.Render("~/web/backend/jquery-ui")
<script src="~/Assets/Backend/js/jquery.validate.min.js"></script>
<script>
    var $checkoutForm = $('#AddModifyForm').validate({
        ignore: [],
        rules: {
            'MenuNameEnglish': {
                required: true,
                maxlength: 50
            },
            'CheckMenuName': {
                required: true,
                maxlength: 20
            }
        },
        submitHandler: function (form) {
            $("#btnSave").prop('disabled', true)
            $("#btnSave span").html('Saving...')

            var id = $('input[name="MenuId"').val();
            var url = "/Menus/Insert";
            if (parseInt(id) > 0) {
                url = "/Menus/Update";
            }
            $.ajax({
                type: "POST",
                url: url,
                data: $("#AddModifyForm").serialize(),
                success: function (resp) {
                    debugger;
                    showResultMessage(resp, "/MenuList")
                },
                error: function (resp) {
                    showResultMessage(resp)
                }
            })
        },

        errorPlacement: function errorPlacement(error, element) {
            var $parent = $(element).parents('.form-group');

            // Do not duplicate errors
            if ($parent.find('.jquery-validation-error').length) {
                return false;
            }

            $parent.append(
                error.addClass('jquery-validation-error small form-text invalid-feedback')
            );
        },
        highlight: function (element) {
            var $el = $(element);
            var $parent = $el.parents('.form-group');

            $el.addClass('is-invalid');

            // Select2 and Tagsinput
            if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                $el.parent().addClass('is-invalid');
            }

        },
        unhighlight: function (element) {
            $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
        }
    });
</script>


