
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<section class="bg-black-50 font-natosans pt-32 pb-16">
    <div class="max-w-4xl mx-auto bg-white p-8  text-xl shadow">
        <h3 class="font-semibold text-3xl mb-4 py-4">हाम्रो बारेमा</h3>
        <div class="space-y-4">
            <p class="max-w-[100ch]">
                विविध बस्तु तथा क्षेत्र हरुमा राष्ट्रिय तथा अन्तर्राष्ट्रिय स्तरमा ब्यापार, ब्यापार
                प्रबर्द्धन, र ब्यवस्थापन गर्ने प्रमुख उदेश्यका साथ मिति २०७३कार्तिक २६ गते कम्पनी रजिस्ट्रार कार्यलयमा दर्ता
                भई संचालनमा आएको कम्पनी हो बिश्वकर्मा टेडिङ्ग एण्ड प्रमोटर्स प्रा.लि. । यस कम्पनीको एक मात्र संचालक
                इ.सन्जुक्ता सुनार हुनुहुन्छ । कम्पनीको मुख्य कार्यलय हाल बुटवल -११ रुपन्देही मा रहेको छ।
            </p>
            <h4 class="font-bold max-w-[100ch]">
                कम्पनीले निम्नलिखित बस्तु तथा क्षेत्रहरुमा आफ्नो ब्यापार र उद्योग संचालन
                गर्न सक्ने छ ।
            </h4>
            <ol class="list-decimal list-outside pl-8 space-y-2">
                <li class="pl-2">दैनिक उपभोग्य खाद्यन्न किराना तथा गल्ला ।</li>
                <li class="pl-2">हल्का पेय पदार्थ तथा वेभरेज ।</li>
                <li class="pl-2">मदिरा जन्य चुरोट तथा सुर्तीजन्य ।</li>
                <li class="pl-2">विभिन्न फेसन सामाग्री तथा सौन्दर्य प्रशाधन ।</li>
                <li class="pl-2">जुत्ता चप्पल तथा गार्मेन्टेस र सिलाई सामाग्री ।</li>
                <li class="pl-2">इलेक्ट्रोनिक तथा इलेक्टि्रकल घरायसी सामाग्री ।</li>
                <li class="pl-2">फर्निचर तथा अन्य किचन वेयर शेनेटरी सामग्री ।</li>
                <li class="pl-2">कम्प्युटर कम्प्युटर पार्ट्स, मोबाइल , मोबाईल एप ,तथा मोबाइल एशोसिरिज ।</li>
                <li class="pl-2">विभिन्न साइकल, मोटरसाइकल ,साना मझौला तथा हेवि मोटर गाडीहरु ।</li>
                <li class="pl-2">हाडवेयर तथा सबै खाले निर्माण सामाग्री ।</li>
                <li class="pl-2">कृषि ,कृषि जन्य बस्तु सेवा तथा पर्यटन ।</li>
                <li class="pl-2">घर जग्गा तथा सम्पूर्ण रियल स्टेट सम्बन्धि काम हरु ।</li>
            </ol>
        </div>
        <div class="space-y-4 mt-6 ">
            <p>
                विविध तथा व्यापक कार्य क्षेत्र भएको यस कम्पनीको सुरुवात एकल रूपमा मात्र २५०००००।- अक्षेरूपी पच्चीस लाख बाट
                भएता पनि देश तथा बिदेशमा बसोबास गर्ने सम्पूर्ण नेपालीजन बाट थोरै थोरै मात्रामा पुंजी संकलन गरि एउटा विशाल
                राष्ट्रिय पुंजिमा परिणत गर्ने र कर्मठ ईमानदार उद्योग ब्यापारमा रुचि राख्ने रास्ट्र प्रेमिजन हरुलाई कम्पनीको
                संचालक बनाई क्रमिक रुपमा नेपालको अग्रणी कम्पनी बन्ने विभिन्न प्रकारका रोजगारी सिर्जना गरि राज्यलाई आर्थिक
                बिकासमा सघाउने कम्पनीको प्रमुख लक्ष्य हो सम्पुर्ण नेपाली जन हरु को साझा कम्पनी बनाई राष्ट्रिय तथा
                अन्तर्राष्ट्रिय जगत मा ब्यापार ब्यवसाय गर्ने कम्पनीको सपना रहेकोे छ ।
            </p>
            <p>
                आगामी आर्थिक बर्ष २०७८-७९ को मध्य सम्म कम्पनी को पुंजी वृद्धि गरि २.५ करोड पुर्याउने हाम्रो योजना रहेको छ ।
                जनसमुदाय भेटघाट कार्यक्रम मार्फत प्रथम चरणमा हामी १०० जना संचालक साथी हरुलाई कम्पनीमा जोड्दै छौं । अत उद्योग
                ब्यापारमा रुचि राख्ने सामाजिक भावना तथा फराकिलो बिचार भएका ईमानदार कर्मठ नेपालीजन हरु हामी संग जोडिनका लागी
                सम्पर्कमा आउन सक्नुहुनेछ । सुरुका १०० जनाले कम्पनीको संस्थापक शेर प्राप्त गरि विविध उद्देश भएको बिशाल सपना
                बोकेको यस कम्पनीमा संचालन भई काम गर्न सक्नु हुनेछ ।
            </p>
            <p>
                कम्पनीको योजना अनुसार दैनिक उपभोग्य खाद्यान्न तथा किनारा सामाग्री हरुको थोक ब्यापारमा स्थापना काल देखी हाल
                सम्म हाम्रो संलग्नता रह्यो रुपन्देही , नवलपरासी ,कपिलवस्तुका लगभग ४,५० देखि ५०० खुद्रा किराना व्यावसायिहरु संग
                हाम्रो निरन्तर ब्यापार हुँदै आएको छ ।चालु आर्थिक बर्ष को अन्त सम्म हाम्रो ब्यापारीक बार्षिक कारोबार लग भग
                ४देखी ५ करोड सम्म पुग्ने हाम्रो अनुमान छ । बिगत चार बर्ष को ब्यापारीक अनुभव अनुसार यस क्षेत्रमा ब्यापार गर्ने
                हाम्रो रुचि बढी रहेको छ अलिकति मेहनत र बडी लगानी भए पनि यस ब्यापारमा हामीले दिगोपन देख्यौं किनभने यो ब्यापार
                दैनिकी जीवन यापन संग जोडिएको छ जीवन रहे सम्म ब्यापार रहिरन्छ ।
            </p>
            <p>
                तसर्थ बिगत चार बर्षको अध्यन अनुसन्धानको आधारमा थप लगानी ब्यबस्थापन टेक्नोलोजी प्रयोग गर्दै आगामी आर्थिक बर्ष
                २०७८-७९ को अन्त सम्म दैनिक उपभोग्य खाद्यान्न , गल्ला तथा किराना बस्तु हरुको एउटा बिशाल स्टोरको स्थापना गरि
                संचालन ल्याउने कम्पनीको तयारी रहेकोे छ । प्रथम चरणमा प्रदेश नं ५ बुटवल नगरीमा उक्त स्टोरको स्थापना हुनेछ र
                क्रमिक रुपमा विकसित गर्दै सातै प्रदेशमा पुर्याइने छ ।उक्त स्टोर बिश्वकर्मा ट्रेडिङ्ग को एक शंकाय रहनेछ ।
            </p>
        </div>
        <h4 class="font-bold mt-6 mb-2">
            यसैगरी क्रमिक रुपमा पुंजी वृद्धि गर्दै कम्पनी लाई पब्लिक लिमिटेडमा परिणत गरिने छ र
            उल्लेखित विभिन्न योजनाहरुको स्थापना र संचालन गरिदै लगिने छ । यस बि.के. पि स्टोरले आफ्नो वेबसाईट मार्फत आफ्न
            ग्राहक हरु लाई निम्न लिखित सेवा प्रदान गर्नेछ ।
        </h4>
        <ol class="list-decimal list-outside pl-8 space-y-2">
            <li class="pl-2">दैनिक उपभोग्य किराना सामाग्री हरुको अडर अनुसार सर्व सुलभ ढंगबाट डेलिभरी दिनेछ ।</li>
            <li class="pl-2">खाद्यान्न तथा गल्ला सामान हरुको अडर अनुसार सर्व सुलभ ढंगबाट डेलिभरी दिइनेछ ।</li>
            <li class="pl-2">समय समयमा आकर्षक बिक्री योजना छुट तथा वोनोस उपहार दिइनेछ ।</li>
            <li class="pl-2">नयाँ उत्पादन हरु लाई आफ्नो वेबसाईट मा राखी बिज्ञापन तथा ब्यापार ब्यबस्थापन गर्नेछ ।</li>
        </ol>
    </div>
</section>