
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<!-- karya yojana section -->
<section class="w-full bg-gray-100 py-12">
    <div class="section text-sm overflow-hidden" data-aos="fade-in">
        @*<h3 class="text-3xl font-semibold">हाम्रो मन्त्र</h3>*@
        <div class="grid md:grid-cols-4 gap-8 mt-8 text-xl font-semibold overflow-hidden">
            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-xl flex flex-col justify-center items-center"
                 data-aos="slide-up" data-aos-delay="100">
                <img loading="lazy" class="h-16" src="~/Assets/Frontend/images/teamwork.png"
                     alt="teamwork">
                <p class=" py-2">Team Work</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-lg flex flex-col justify-center items-center"
                 data-aos="slide-up" data-aos-delay="200">
                <img loading="lazy" class="h-16" src="~/Assets/Frontend/images/technology.png"
                     alt="technology icon">
                <p class="py-2">Technology</p>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-lg flex flex-col justify-center items-center overflow-hidden"
                 data-aos="slide-up" data-aos-delay="300">
                <img loading="lazy" class="h-16" src="~/Assets/Frontend/images/compound1.png"
                     alt="compounding">
                <p class="py-2">Compounding</p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-xl flex flex-col justify-center items-center"
                 data-aos="slide-up" data-aos-delay="100">
                @*<img loading="lazy" class="h-16" src="~/Assets/Frontend/images/teamwork.png"
                     alt="teamwork">*@
                <p class=" py-2">
                    ANALYSIS Trump's lawsuit over the FBI search of his Florida resort implicitly spells out how he intend

                </p>
            </div>
            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-lg flex flex-col justify-center items-center"
                 data-aos="slide-up" data-aos-delay="200">
                <img loading="lazy" class="h-16" src="~/Assets/Frontend/images/technology.png"
                     alt="technology icon">
                <p class="py-2">Technology</p>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-sm hover:shadow-lg flex flex-col justify-center items-center overflow-hidden"
                 data-aos="slide-up" data-aos-delay="300">
                <img loading="lazy" class="h-16" src="~/Assets/Frontend/images/compound1.png"
                     alt="compounding">
                <p class="py-2">Compounding</p>
            </div>
        </div>
    </div>
</section>
