.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}



.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}



.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tab-content > .active {
    display: block;
}

.fade.in {
    opacity: 1;
}

.fade {
    transition: opacity .15s linear;
}
